<!doctype html>
<html lang="en">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"/>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm mb-4 px-5">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>

			</div>
		</nav>
		<div class="d-flex justify-content-center">
			<div class="col-6">
				<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewModal">Create New</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="col-6 text-center pt-4 ">

				{% for item in items %}
					<div class="col-12 shadow-sm border py-4 my-2 px-4">
						<div class="row">
							<div class="col-4 text-start text-bold fs-5 {% if item.checked == 1 %}text-decoration-line-through{% endif %}">{{ item.name }}</div>
							<div class="col-8 text-end">
								<a href="/checkItem/{{ item.id }}" class="btn btn-secondary btn-sm">Check</a>

								<button data-bs-toggle="modal" data-bs-target="#editModal{{ item.id }}" class="btn btn-primary btn-sm">Edit</button>
								<a href="/deleteItem/{{ item.id }}" class="btn btn-danger btn-sm">Delete</a>

							</div>
						</div>
					</div>
					<div class="modal fade" id="editModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<form method="post" action="/update/{{ item.id }}">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<input type="text" class="form-control" value="{{item.name}}" name="item_name"/>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Save changes</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="modal fade" id="addNewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form method="post" action="/store">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<input type="text" class="form-control" name="item_name"/>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

	</body>
</html>
